@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
    cursor: url('../../public/Cursors/Rectangle 16.png'), auto;

    --trans-gray: 218 11% 65% / 20%;
    --error: 4 100% 65%;
}

:root.light {
    --accent: 209 100% 45%;
    --accent-20: 209 100% 45% / 25%;
    --on-accent: 0 0% 100%;
    --background: 223 25% 96%;
    --primary: 223 36% 91%;
    --text: 240 4% 18%;
    --text-sc: 218 11% 45%;
}

:root.dark {
    --accent: 209 100%  60%;
    --accent-20: 209 100% 57% / 25%;
    --background: 240 6% 25%;
    --primary: 240 7% 20%;
    --text: 0 0% 100%;
    --text-sc: 218 11% 65%;
}

.main-navigator::after {
    content: '';
    left: 100%;
    top: 0;
    box-shadow: -15px 15px 0 hsl(var(--background));
    @apply bg-transparent absolute h-[100%] rounded-bl-[20px] aspect-square
}

::selection {
    background-color: hsl(var(--accent));
    color: hsl(var(--background));
}